@{
    ViewData["Title"] = "Privacy Policy";
    Layout =  "_MyLayout";   
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@section header{
    <h2>Hello from header section</h2>
}
@section footer{
    <h2>Hello from footer section</h2>
}